[Desktop Entry]
Type=Application
Version=1.0
Name=Zjedz Trawkę 2
Exec=zjedztrawke2
Comment=Druga gra w której musisz zjeść trawkę.
Icon=zjedztrawke2
Terminal=false
Categories=Game;ArcadeGame;
